/*----------[ alerts ]----------------------------------------------------------
*/
.alerts {
  margin: 0;

  list-style-type: none;

  .message {
    margin-bottom: $vertical-nudge;
    padding: $vertical-nudge $column-width / 2;
    padding-left: 2 * $column-width;

    &:before {
      display: inline-block;

      position: relative;

      margin-right: 0.5 * $column-width;
      margin-left: -(1.5 * $column-width);
      width: $column-width;
    }

    &.success {
      color: $success-feedback;
      background-color: $success-feedback-bg;

      &:before {
        @extend .fa-check;
        @include fa-icon();
      }
    }

    &.warning {
      color: $warning-feedback;
      background-color: $warning-feedback-bg;

      &:before {
        @extend .fa-asterisk;
        @include fa-icon();
      }
    }

    &.error {
      color: $error-feedback;
      background-color: $error-feedback-bg;

      &:before {
        @extend .fa-exclamation-triangle;
        @include fa-icon();
      }
    }
  }
}
