/*----------[ alerts ]----------------------------------------------------------
*/
@use "../basics/colors";
@use "../basics/grid";
@use "../basics/typography";
@use "sass:math";

.alerts {
  margin: 0;

  list-style-type: none;

  .message {
    display: flex;

    margin-bottom: grid.$vertical-nudge;
    border: 1px solid transparent;
    border-radius: grid.$default-border-radius;

    .icon,
    .message-content {
      display: inline-block;
    }

    .icon {
      border-top-left-radius: grid.$default-border-radius;
      border-bottom-left-radius: grid.$default-border-radius;

      padding-top: grid.$vertical-nudge;
      width: 2 * grid.$horizontal-spacing;

      font-size: 0;

      text-align: center;

      svg {
        position: relative;
      }
    }

    .message-content {
      padding: grid.$vertical-nudge math.div(grid.$horizontal-spacing, 2);
    }

    &.success {
      border-color: colors.$success-feedback;

      .icon {
        color: colors.$success-feedback;
        background-color: colors.$success-feedback-bg;

        font-size: typography.$large-text-size;
      }
    }

    &.warning {
      border-color: colors.$warning-feedback;

      .icon {
        color: colors.$warning-feedback;
        background-color: colors.$warning-feedback-bg;

        font-size: typography.$large-text-size;

        svg {
          top: 1px;
        }
      }
    }

    &.error {
      border-color: colors.$error-feedback;

      .icon {
        color: colors.$error-feedback;
        background-color: colors.$error-feedback-bg;

        font-size: typography.$large-text-size;
      }
    }

    &.info {
      border-color: colors.$info-feedback;

      .icon {
        color: colors.$info-feedback;
        background-color: colors.$info-feedback-bg;

        font-size: typography.$large-text-size;

        svg {
          top: 1px;
        }
      }
    }
  }
}
