/*----------[ alerts ]----------------------------------------------------------
*/
@use "sass:math";

.alerts {
  margin: 0;

  list-style-type: none;

  .message {
    display: flex;

    margin-bottom: $vertical-nudge;
    border: 1px solid transparent;
    border-radius: $default-border-radius;

    .icon,
    .message-content {
      display: inline-block;
    }

    .icon {
      border-top-left-radius: $default-border-radius;
      border-bottom-left-radius: $default-border-radius;

      padding-top: $vertical-nudge;
      width: 2 * $horizontal-spacing;

      font-size: 0;

      text-align: center;

      svg {
        position: relative;
      }
    }

    .message-content {
      padding: $vertical-nudge math.div($horizontal-spacing, 2);
    }

    &.success {
      border-color: $success-feedback;

      .icon {
        color: $success-feedback;
        background-color: $success-feedback-bg;

        font-size: $large-text-size;
      }
    }

    &.warning {
      border-color: $warning-feedback;

      .icon {
        color: $warning-feedback;
        background-color: $warning-feedback-bg;

        font-size: $large-text-size;

        svg {
          top: 1px;
        }
      }
    }

    &.error {
      border-color: $error-feedback;

      .icon {
        color: $error-feedback;
        background-color: $error-feedback-bg;

        font-size: $large-text-size;
      }
    }

    &.info {
      border-color: $info-feedback;

      .icon {
        color: $info-feedback;
        background-color: $info-feedback-bg;

        font-size: $large-text-size;

        svg {
          top: 1px;
        }
      }
    }
  }
}
