/*----------[ color swatch ]----------------------------------------------------
*/
@use "../basics/grid";
@use "../basics/typography";
@use "sass:math";

.color-swatch-container {
  margin-bottom: math.div(grid.$vertical-spacing, 2);

  .swatch-name {
    margin-top: grid.$vertical-nudge;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .swatch-value {
    font-family: typography.$monospace-text-family;
  }
}
