/*-----[ forms ]----------------------------------------------------------------
| Global form and form element styles. Feature-specific form styles should be
| co-located with other feature-specific styles.
*/
@use "../basics/colors";
@use "../basics/grid";
@use "../basics/typography";
@use "animations";
@use "mixins";
@use "sass:math";

/*----------[ table of contents ]-----------------------------------------------
| text and password fields, textareas
| buttons and checkboxes
| form layout
| validation
| datepicker
*/

/*----------[ text and password fields, textareas ]-----------------------------
*/
input[type='email'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
select,
textarea {
  margin: 0;
  border: 1px solid colors.$stroke;
  border-radius: grid.$form-input-border-radius;
  padding: 0 2 * grid.$horizontal-nudge;

  background-color: white;

  font-family: typography.$body-text-family;
  font-size: typography.$body-text-size;
}

input[type='email'][disabled],
input[type='password'][disabled],
input[type='search'][disabled],
input[type='tel'][disabled],
input[type='text'][disabled],
input[type='url'][disabled],
select[disabled],
textarea[disabled] {
  /* stylelint-disable declaration-no-important */
  border-color: colors.$disabled-stroke !important;

  color: colors.$disabled-text-color !important;

  cursor: not-allowed !important;
  /* stylelint-enable declaration-no-important */
}

input[type='text'].small {
  margin-right: 0.33em;
  width: 50px;
}

/*----------[ buttons and checkboxes]-------------------------------------------
*/
input[type='checkbox'],
input[type='radio'] {
  vertical-align: baseline;
}

input[type='checkbox'] {
  border: 1px solid colors.$grey;

  background-color: white;
}

input[type='submit'],
input[type='button'],
button,
a.button {
  display: inline-block;

  border-style: none;
  border-radius: grid.$button-border-radius;
  padding: 0 grid.$horizontal-spacing;

  color: colors.$button-text-color;
  background-color: colors.$button-base-bg;

  font-family: typography.$button-text-family;
  font-size: typography.$button-text-size;
  line-height: typography.$button-text-line-height;
  font-weight: 500;

  transition: background-color animations.$default-transition-duration
    animations.$default-transition-timing-function;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: colors.$button-hover-bg;
  }

  &.secondary {
    border: 1px solid colors.$secondary-button-border-color;

    color: colors.$secondary-button-text-color;
    background-color: colors.$secondary-button-base-bg;

    $secondary-button-line-height: rem-to-px(grid.$button-height) - 2 *
      grid.$secondary-button-border-width;
    line-height: $secondary-button-line-height;

    &:hover {
      background-color: colors.$secondary-button-hover-bg;
    }
  }

  &[disabled] {
    color: colors.$disabled-button-text-color;
    background-color: colors.$disabled-button-base-bg;

    &:hover {
      background-color: colors.$disabled-button-base-bg;
    }

    /* stylelint-disable-next-line declaration-no-important */
    cursor: not-allowed !important;
  }
}

.button-bar {
  margin: typography.$body-text-line-height 0;
  padding: 0;
}

.button-bar input[type='submit'],
.button-bar input[type='button'],
.button-bar button,
.button-bar > a {
  display: inline-block;

  margin: 0;
  margin-right: math.div(grid.$horizontal-spacing, 2);
}

.button-bar > a {
  display: inline-block;

  font-size: typography.$secondary-text-size;
  line-height: typography.$secondary-text-line-height + 2 * grid.$button-vertical-padding;

  vertical-align: middle;

  text-decoration: none;
}

/*----------[ validation ]------------------------------------------------------
*/
.error {
  &,
  td,
  th {
    background-color: lighten(colors.$error-feedback, 55);
  }

  label,
  .form-help {
    color: colors.$error-feedback;
  }

  label {
    font-weight: bold;
  }

  input[type='email'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='text'],
  input[type='url'],
  select,
  textarea {
    border-color: darken(colors.$error-feedback, 5);
  }

  ul.error-explanation {
    margin: grid.$vertical-nudge;
    margin-left: grid.$horizontal-spacing;

    color: colors.$error-feedback;

    @include mixins.secondary-text;
  }
}

/*----------[ form layout ]-----------------------------------------------------
*/

/*---------------[ stacked forms ]----------------------------------------------
*/
.stacked,
.radio-group,
.checkbox-group {
  label {
    display: block;
  }
}

.stacked {
  margin-left: -(grid.$horizontal-nudge);

  .section-heading {
    color: colors.$subheading-text-color;

    font-weight: bold;
  }

  .field > label:first-of-type {
    margin-top: math.div(typography.$body-text-line-height, 2);
  }

  .field,
  .section-heading,
  .button-bar {
    padding-left: grid.$horizontal-nudge;
  }
}

/*---------------[ forms in tables ]--------------------------------------------
*/
table.form {
  margin-top: 0;

  &,
  th,
  td {
    border-style: none;
  }

  .section-heading th {
    color: colors.$subheading-text-color;
  }

  .field-label {
    padding-right: grid.$horizontal-spacing;

    font-weight: normal;

    text-align: right;
    vertical-align: top;
  }

  .field,
  .button-bar {
    padding-left: 0;
  }
}
