/*-----[ navigation ]-----------------------------------------------------------
*/
@use "../basics/colors";
@use "../basics/grid";
@use "animations";
@use "mixins";

.primary-nav-container {
  overflow-y: auto;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  width: grid.$primary-nav-width;
}

nav.primary {
  min-height: 100vh;

  background-color: colors.$primary-nav-bg;

  @include mixins.module-padding();

  a.logo-container {
    display: block;

    margin: 0 auto grid.$vertical-spacing;
    width: grid.$logo-size;
    height: grid.$logo-size;
  }

  .logo {
    width: grid.$logo-size;
  }

  ul {
    margin: 0;

    @include mixins.list-with-no-bullets();
  }

  li,
  a {
    color: colors.$primary-nav-item-text-color;

    transition: color animations.$default-transition-duration
      animations.$default-transition-timing-function;

    text-decoration: none;
  }

  a.active {
    color: colors.$primary-nav-item-active-text-color;

    &:hover {
      color: colors.$primary-nav-item-active-text-color;

      cursor: default;
    }
  }

  a:hover {
    color: colors.$primary-nav-item-hover-text-color;
  }
}
