/*-----[ navigation ]-----------------------------------------------------------
*/
.primary-nav-container {
  overflow-y: auto;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  width: $primary-nav-width;
}

nav.primary {
  min-height: 100vh;

  background-color: $primary-nav-bg;

  @include module-padding();

  a.logo-container {
    display: block;

    margin: 0 auto $vertical-spacing;
    width: $logo-size;
    height: $logo-size;
  }

  .logo {
    width: $logo-size;
  }

  ul {
    margin: 0;

    @include list-with-no-bullets();
  }

  li,
  a {
    color: $primary-nav-item-text-color;

    transition: color $default-transition-duration $default-transition-timing-function;

    text-decoration: none;
  }

  a.active {
    color: $primary-nav-item-active-text-color;

    &:hover {
      color: $primary-nav-item-active-text-color;

      cursor: default;
    }
  }

  a:hover {
    color: $primary-nav-item-hover-text-color;
  }
}
