/*-----[ page ]-----------------------------------------------------------------
| Top-level styles for content. Otherwise unqualified styles should go here.
*/
.page {
  @include container;

  .page-content-container {
    margin-left: $primary-nav-width;
  }

  .page-content-header {
    background-color: $pale-grey;

    @include module-padding();

    h1 {
      margin: 0;
    }
  }

  .module {
    margin: $vertical-spacing $horizontal-spacing;
    border-style: none;
    border-radius: $module-border-radius;

    background-color: $content-bg;

    box-shadow:
      $module-shadow-offset $module-shadow-offset
      $module-shadow-blur $module-shadow-spread $module-shadow-color;

    @include module-padding;
  }

  .annotation,
  .fine-print,
  .form-help {
    color: $secondary-text-color;

    font-weight: normal;
    font-style: italic;
  }

  .fine-print,
  .form-help {
    margin: 0;

    @include small-text;
  }

  .subtitle {
    font-weight: normal;
  }

  .subheading {
    font-weight: bold;
  }
}
