/*----------[ pagination ]------------------------------------------------------
| Styles for Flickr-style pagination.
*/
@use "../basics/colors";
@use "../basics/grid";
@use "../basics/typography";
@use "sass:math";

.pagination {
  margin-top: rem-to-px(typography.$body-text-line-height) - (2 * grid.$vertical-nudge);

  font-size: 0;

  .first,
  .prev,
  .page,
  .next,
  .last {
    display: inline-block;

    margin-right: math.div(grid.$horizontal-spacing, 2);
    border-radius: 6px;

    background-color: darken(colors.$greyish-white, 3);

    font-size: 1rem;

    a {
      display: block;

      text-decoration: none;
    }

    a,
    &.current,
    &.gap {
      padding: grid.$vertical-nudge math.div(grid.$horizontal-spacing, 2);

      background-color: transparent;
    }
  }
}
