/*----------[ pagination ]------------------------------------------------------
| Styles for Flickr-style pagination.
*/
.pagination {
  margin-top: $body-text-line-height - (2 * $vertical-nudge);

  font-size: 0;

  .first,
  .prev,
  .page,
  .next,
  .last {
    display: inline-block;

    margin-right: $column-width / 2;
    border-radius: 6px;

    background-color: darken($greyish-white, 3);

    font-size: 1rem;

    a {
      display: block;

      text-decoration: none;
    }

    a,
    &.current,
    &.gap {
      padding: $vertical-nudge $column-width / 2;

      background-color: transparent;
    }
  }
}
