/*----------[ pagination ]------------------------------------------------------
| Styles for Flickr-style pagination.
*/
@use "sass:math";

.pagination {
  margin-top: rem-to-px($body-text-line-height) - (2 * $vertical-nudge);

  font-size: 0;

  .first,
  .prev,
  .page,
  .next,
  .last {
    display: inline-block;

    margin-right: math.div($horizontal-spacing, 2);
    border-radius: 6px;

    background-color: darken($greyish-white, 3);

    font-size: 1rem;

    a {
      display: block;

      text-decoration: none;
    }

    a,
    &.current,
    &.gap {
      padding: $vertical-nudge math.div($horizontal-spacing, 2);

      background-color: transparent;
    }
  }
}
