{
  "presets": [
    "react-app",
    ["env", {
      "targets": {
       "node": "current"
      }
    }]
  ],
  "plugins": ["transform-class-properties"],
  "env": {
    "test": {
      "plugins": ["rewire"]
    }
  }
}
