/*-----[ book snippets ]--------------------------------------------------------
| Styles for the book snippets used in the typeface tester
*/
@use "basics/colors";
@use "basics/grid";
@use "basics/typography";
@use "shared/mixins";
@use "sass:math";

$snippet-subtitle-color: colors.$secondary-text-color;
$snippet-meta-color: colors.$light-text-color;
$snippet-divider-color: colors.$light-gold;

$snippet-title-size: 3.3333333333rem; // 60px
$snippet-title-line-height: 4rem; // 72px

$snippet-divider-height: 2px;
$snippet-width: 37em;

.book-snippet {
  margin-top: grid.$section-spacing;
  max-width: $snippet-width;

  .book-info,
  .story-info,
  .chapter-info {
    text-align: center;
  }

  .book-title {
    margin-bottom: 0;

    font-size: $snippet-title-size;
    line-height: $snippet-title-line-height;
  }

  .subtitle {
    margin-top: math.div(grid.$vertical-spacing, 2);

    color: $snippet-subtitle-color;

    font-style: italic;

    @include mixins.large-text();
  }

  .author {
    @include mixins.large-text();

    &::before {
      display: inline-block;

      margin-right: 0.3em;

      color: $snippet-meta-color;

      content: 'by';
    }
  }

  hr {
    $body-text-line-height-px: rem-to-px(typography.$body-text-line-height);
    margin: (math.div($body-text-line-height-px, 2) - 1) auto;
    height: $snippet-divider-height;

    background-color: $snippet-divider-color;
  }

  .story-info,
  .chapter-info {
    margin-bottom: grid.$vertical-spacing;
  }

  .story-number,
  .chapter-number {
    margin-right: 0.3em;

    color: $snippet-meta-color;
  }

  .story-title,
  .chapter-title {
    color: colors.$body-text-color;
  }

  .chapter-info {
    font-variant: small-caps;
  }

  .emphasis {
    font-style: italic;
  }

  .chapter {
    p:first-of-type::first-line {
      font-weight: 500;
    }
  }
}
