/*-----[ book snippets ]--------------------------------------------------------
| Styles for the book snippets used in the typeface tester
*/

.book-snippet {
  margin-top: $section-spacing;
  max-width: 40em;

  .book-title {
    margin-bottom: 0;
  }

  .subtitle {
    color: $secondary-text-color;
    font-style: italic;

    @include large-text();
  }

  .author {
    @include large-text();

    &::before {
      display: inline-block;
      margin-right: 0.3em;
      content: 'by';
      color: $secondary-text-color;
    }
  }

  .story-info,
  .chapter-info {
    margin-bottom: $vertical-spacing;
  }

  .story-number,
  .chapter-number {
    margin-right: 0.3em;
    color: $secondary-text-color;
  }

  .story-title,
  .chapter-title {
    color: $body-text-color;
  }

  .emphasis {
    font-style: italic;
  }
}
