/*-----[ font-weight-previewer ]---------------------------------------------------
*/
@use "basics/colors";
@use "basics/grid";
@use "basics/typography";
@use "shared/mixins";

#font-weight-previewer {
  $module-gutter-width: 100px;

  @each $weight in (100, 200, 300, 400, 500, 600, 700, 800, 900) {
    .w#{$weight} {
      position: relative;

      font-weight: $weight;

      &::before {
        position: absolute;
        left: -$module-gutter-width;

        width: $module-gutter-width - grid.$horizontal-spacing;

        color: colors.$secondary-text-color;

        font-weight: normal;

        content: '#{$weight}';
        text-align: right;
      }
    }
  }

  code {
    @include mixins.keep-together;
  }

  .instructions {
    position: relative;

    margin-bottom: typography.$body-text-line-height;
  }

  input.family {
    margin-right: grid.$horizontal-spacing;
    min-width: 350px;
    height: grid.$button-height;
  }

  .family-under-test {
    margin-bottom: typography.$body-text-line-height;

    font-weight: 600;

    @include mixins.large-text;
  }

  .module {
    padding-left: grid.$horizontal-spacing + $module-gutter-width;
  }
}
