/*-----[ font-weight-tester ]---------------------------------------------------
*/
#font-weight-tester {
  $font-family-to-test: 'Metropolis';

  font-family: $font-family-to-test;

  .page {
    margin: $section-spacing auto;
    max-width: 40em;
  }

  @each $weight in (100, 200, 300, 400, 500, 600, 700, 800, 900) {
    .w#{$weight} {
      position: relative;

      font-weight: $weight;

      &::before {
        position: absolute;
        left: -100px;

        width: 80px;

        color: $secondary-text-color;

        font-weight: normal;

        content: '#{$weight}';
        text-align: right;
      }
    }
  }

  code {
    @include keep-together;
  }

  .instructions {
    position: relative;

    margin-bottom: 2 * $body-text-line-height + $large-text-line-height;

    &::after {
      display: block;

      position: absolute;
      bottom: -($body-text-line-height + $large-text-line-height);

      font-weight: bold;

      content: '#{$font-family-to-test}';

      @include large-text;
    }
  }
}
