/*-----[ font-weight-tester ]---------------------------------------------------
*/
#font-weight-tester {
  $module-gutter-width: 100px;

  @each $weight in (100, 200, 300, 400, 500, 600, 700, 800, 900) {
    .w#{$weight} {
      position: relative;

      font-weight: $weight;

      &::before {
        position: absolute;
        left: -$module-gutter-width;

        width: $module-gutter-width - $horizontal-spacing;

        color: $secondary-text-color;

        font-weight: normal;

        content: '#{$weight}';
        text-align: right;
      }
    }
  }

  code {
    @include keep-together;
  }

  .instructions {
    position: relative;

    margin-bottom: $body-text-line-height;
  }

  input.family {
    margin-right: $horizontal-spacing;
    height: $button-height;
    min-width: 250px;
  }

  .family-under-test {
    margin-bottom: $body-text-line-height;

    font-weight: 600;

    @include large-text;
  }

  .module {
    padding-left: $horizontal-spacing + $module-gutter-width;
  }
}
