/*-----[ typeface tester ]------------------------------------------------------
*/

#typeface-previewer {
  .field {
    display: inline-block;

    margin-right: $horizontal-spacing;

    label {
      display: block;

      color: $secondary-text-color;

      @include secondary-text();
    }
  }

  select,
  input[type='text'] {
    height: $button-height;
  }

  input.family {
    min-width: 350px;
  }

  .displayed-font {
    margin-bottom: $vertical-spacing;
    border-bottom: 1px solid $light-stroke;
    padding-bottom: $vertical-nudge;

    @include large-text();

    .family-name {
      font-weight: 600;
    }
  }
}
