/*-----[ typeface tester ]------------------------------------------------------
*/
@use "basics/colors";
@use "basics/grid";
@use "shared/mixins";

#typeface-previewer {
  .field {
    display: inline-block;

    margin-right: grid.$horizontal-spacing;

    label {
      display: block;

      color: colors.$secondary-text-color;

      @include mixins.secondary-text();
    }
  }

  select,
  input[type='text'] {
    height: grid.$button-height;
  }

  input.family {
    min-width: 350px;
  }

  .displayed-font {
    margin-bottom: grid.$vertical-spacing;
    border-bottom: 1px solid colors.$light-stroke;
    padding-bottom: grid.$vertical-nudge;

    @include mixins.large-text();

    .family-name {
      font-weight: 600;
    }
  }
}
