/*-----[ colors ]---------------------------------------------------------------
| Variables defining the colors to be used throughout the application.
*/

/*----------[ table of contents ]-----------------------------------------------
| palette
| backgrounds and borders
| text
| forms
*/


/*----------[ palette ]---------------------------------------------------------
| Use color names you can easily remember here, like "light-blue". Doing this
| makes it easier for you to tweak the exact shade of "light-blue" you're using
| transparently.
*/
// Main palette
$dark-green: #2e7d5c;
$green: #50ae88;
$faded-green: #8ad9b8;
$light-green: #d4f5e9;
$pale-green: #ebfcf6;

$dark-purple: #523948;
$purple: #855c76;
$faded-purple: #ae8da4;
$light-purple: #e9d4e1;
$pale-purple: #fbebf5;

$dark-blue: #082939;
$blue: #275f78;
$faded-blue: #669fb8;
$light-blue: #c0e1ee;
$pale-blue: #e5f3f9;

$dark-gold: #ae8421;
$gold: #c99f3b;
$faded-gold: #ddb860;
$light-gold: #efd494;
$pale-gold: #fdf3dd;

$dark-brown: #522c12;
$brown: #885231;
$faded-brown: #bb835c;
$light-brown: #eecab3;
$pale-brown: #fdefe6;

$dark-red: #8d3e36;
$red: #bd5548;
$faded-red: #d2766c;
$light-red: #ebccc7;
$pale-red: #f7e7e4;

// Greys
$charcoal: #444;
$grey: #808080;
$silver: #c0c0c0;
$greyish-white: #f0f0f0;

/*----------[ backgrounds and borders ]-----------------------------------------
| From this point on, we create semantic variables and assign our color values
| to them. Then in the rest of our styles, we refer to these semantic color
| values like so:
|
|   body
|   {
|      background-color: $page-bg;
|      color: $body-text-color;
|   }
|
| By adding this extra layer of abstraction, we can swap out our
| page background or link color—or change the palette entirely—in just one
| place without a lot of tedious search-and-replace.
*/
$page-bg: white;
$accent-bg: $greyish-white;
$stroke: darken($silver, 15);
$light-stroke: darken($greyish-white, 10);
$disabled-stroke: $silver;

/*----------[ text ]------------------------------------------------------------
*/
$body-text-color: $charcoal;
$secondary-text-color: $grey;
$light-text-color: lighten($grey, 15);
$disabled-text-color: $silver;

$link: $blue;
$active-link: $faded-blue;
$visited-link: $link;

$highlighted-text-color: white;
$heading-text-color: $body-text-color;
$subheading-text-color: $secondary-text-color;

$success-feedback: $green;
$success-feedback-bg: $pale-green;
$warning-feedback: $dark-gold;
$warning-feedback-bg: $pale-gold;
$error-feedback: $red;
$error-feedback-bg: $pale-red;

/*----------[ forms ]-----------------------------------------------------------
*/
$button-base-bg: $purple;
$button-hover-bg: $dark-purple;
$button-text-color: white;

$secondary-button-base-bg: $white;
$secondary-button-hover-bg: $pale-purple;
$secondary-button-border: $purple;
$secondary-button-text-color: $purple;

$disabled-button-base-bg: lighten($silver, 3);
$disabled-button-text-color: lighten($grey, 5);
