/*-----[ grid ]-----------------------------------------------------------------
| Style specifying the dimensions of the basic page grid and other common
| measures.
*/
$column-width     : 20px;
$horizontal-nudge : $column-width / 4;

$gutter-width     : 1.5 * $column-width;

$vertical-nudge   : $body-text-line-height / 4;
$section-spacing  : 2 * $body-text-line-height;

/*----------[ susy grid setup ]-------------------------------------------------
| Use this for responsive grid layouts. Tweak as necessary for your needs.
| cf Susy documentation: http://susydocs.oddbird.net/en/latest/
*/
$susy: (
  columns: 12,
  gutters: .25
);

@include layout($susy);

/*----------[ responsive breakpoints ]------------------------------------------
*/
$screen-xs-max: 499px;
$screen-sm-min: 500px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-min: 992px;
$screen-lg-max: 1199px;
$screen-xl-min: 1200px;

/*----------[ buttons ]---------------------------------------------------------
*/
$button-height: 2rem;
$button-vertical-padding: ($button-height - $button-text-size) / 2;

$secondary-button-border-width: 1px;
