/*-----[ grid ]-----------------------------------------------------------------
| Style specifying the dimensions of the basic page grid and other common
| measures.
*/
$horizontal-spacing: 20px;
$horizontal-nudge: $horizontal-spacing / 4;
$gutter-width: 1.5 * $horizontal-spacing;

$vertical-spacing: 20px;
$vertical-nudge: $vertical-spacing / 4;
$section-spacing: 2 * $vertical-spacing;

/*----------[ susy grid setup ]-------------------------------------------------
| Use this for responsive grid layouts. Tweak as necessary for your needs.
| cf Susy documentation: http://susydocs.oddbird.net/en/latest/
*/
$susy: (
  'columns': susy-repeat(12),
  'gutters': 0.25
);

/*----------[ responsive breakpoints ]------------------------------------------
*/
$screen-xs-max: 499px;
$screen-sm-min: 500px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-min: 992px;
$screen-lg-max: 1199px;
$screen-xl-min: 1200px;

/*----------[ nav ]-------------------------------------------------------------
*/
$primary-nav-width: 200px;
$logo-size: 50px;

/*----------[ modules ]---------------------------------------------------------
*/
$module-border-radius: 6px;
$module-shadow-offset: 2px;
$module-shadow-blur: 2px;
$module-shadow-spread: 1px;

/*----------[ buttons & forms ]-------------------------------------------------
*/
$default-border-radius: 3px;

$button-border-radius: $default-border-radius;
$button-height: 2rem;
$button-vertical-padding: ($button-height - $button-text-size) / 2;

$form-input-border-radius: $default-border-radius;

$secondary-button-border-width: 1px;
